/** @format */

@font-face {
  font-family: special;
  src: url(Fonts/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: maven;
  src: url(Fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px 1fr;
}

/* Header ************************* */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  padding-top: 10px;
  margin: -8px -8px -0px -8px;
  width: 100vw;
  height: 50px;
  background-color: #07208b;
  color: white;
  box-shadow: 2px 2px 2px black;
  font-family: special;
}

header h1 {
  color: white;
  font-size: 3.5vh;
  margin-top: 10px;
  margin-bottom: -8px;
}

header p {
  color: white;
  font-size: 1.5vh;
  margin-top: 10px;
}

/* Main *************************** */
main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  background-color: #d2d8d7;
  width: 100%;
  height: calc(100vh - 80px);
  margin: -6px -8px -8px -8px;
  padding-bottom: 50px;
}

.mainCard {
  width: 25vw;
  height: 20vw;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px rgb(41, 40, 40);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 3fr;
  gap: 5px;
}

.mainCard * {
  margin: 0px;
  font-family: maven;
  font-size: 0.8vw;
  text-decoration: none;
}

.cardTitle {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  background-color: cornsilk;
  border-radius: 3px;
}

.cardTitle * {
  font-size: 1.4vw;
}

.date {
  grid-area: 2 / 1 / 3 / 2;
}

.author {
  grid-area: 3 / 1 / 4 / 2;
}

.domain {
  grid-area: 4 / 1 / 5 / 2;
}

.language {
  grid-area: 5 / 1 / 6 / 2;
}

.imageFrame {
  grid-area: 2 / 2 / 6 / 3;
  background-color: rgb(196, 191, 191);
  border-radius: 5px;
}

.smallImage {
  width: 96%;
  height: 96%;
  margin: 2% 2%;
}

.cardCategories {
  grid-area: 6 / 1 / 7 / 3;
  display: flex;
}

.description {
  grid-area: 7 / 1 / 8 / 3;
  overflow-y: auto;
}

.detailedCardOutter {
  display: none;
  position: fixed;
  top: 100px;
  left: 80px;
  width: 78vw;
  height: 80vh;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
}

.detailedCardInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.webpage {
  margin: 10px;
  width: 98%;
  height: 98%;
}

.photoOutter {
  display: none;
  position: fixed;
  top: 100px;
  left: 80px;
  width: 75vw;
  height: 82vh;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
}

.photoInner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bigPhoto {
  margin-top: 2%;
  max-width: 90%;
  max-height: 90%;
}

.loading {
  display: none;
  position: absolute;
  top: 300px;
  left: 25vw;
  font-family: special;
  font-size: 5vw;
  width: 30vw;
  height: 10vw;
  text-align: center;
  padding-top: 3vw;
  background-color: silver;
  box-shadow: 2px 2px 2px 2px black;
}

/* Aside ********************************* */
aside {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 295px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 15px;
  padding-bottom: 80px;
  margin: -6px -8px -8px -8px;
  border-left: 5px solid gray;
  background-color: #bab7b7;
}

.aside {
  margin-top: 20px;
  margin-bottom: 5px;
}

.aside * {
  font-family: special;
  font-size: 1vw;
}

.currentSearch {
  width: 100%;
  height: auto;
  background-color: gray;
  padding: 10px;
  padding-top: 0px;
}

.currentSearchP {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1vw;
}

.currentSearchBox {
  width: 100%;
  height: 100px;
  background-color: cornsilk;
  margin-top: 15px;
  font-size: 0.8vw;
  padding: 5px;
  overflow-y: auto;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: gray;
  padding: 10px;

  margin-top: 10px;
}

.domainBox {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
}

.domainLabel {
  grid-area: 1 / 1 / 2 / 3;
}

#enterDomain {
  grid-area: 2 / 1 / 3 / 3;
}

.dateRange {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
}

.dateRangeP,
.settingsP {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

#from {
  grid-area: 2 / 2 / 3 / 3;
}

#from,
#to {
  margin-top: 0px;
  height: 40px;
}

.settings {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: 1fr;

  background-color: gray;
  padding: 10px;
}

.settingsP {
  grid-area: 1 / 1 / 2 / 3;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchOptions,
.currentSearchP {
  text-align: center;
}

.title {
  margin-top: 15px;
  font-size: 1.3vw;
}

.subtitle {
  margin-top: 15px;
}

.line {
  margin-top: 10px;
  height: 50px;
}

button {
  font-size: 12px;
  height: 2vw;
  background-color: rgb(111, 200, 228);
  border-radius: 5px;
}

.languagesModalContainer,
.regionsModalContainer {
  display: none;
  position: fixed;
  width: 30vw;
  top: 100px;
  left: 30vw;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
  font-family: special;
}

.languagesModal,
.regionsModal {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -1em;
  font-size: 1vw;
  padding: 20px;
}

.xImage {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1.2vw;
}

.xModal {
  top: 35px;
}

.modalTitle {
  padding-top: 10px;
  text-align: center;
  font-size: 1vw;
}

.languageChoices,
.regionChoices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

/* Footer ***************************************** */
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  background-color: #07208b;
  width: 100%;
  height: 35px;
}

.footButton {
  width: 150px;
  margin: 5px 100px;
  font-family: special;
  font-size: 14px;
}

.inactive {
  background-color: silver;
}

.hide {
  display: none;
}
